<?xml version="1.0"?>
<launch>
  <arg name="model_file" default="$(find plum_plan)/common/pddl/inspection_domain.pddl"/>
  <arg name="namespace" default="" />
  <arg name="params_file" default="$(find plansys2_bringup)/params/plansys2_params.yaml" />

<!--  <group ns="$(arg namespace)"> -->
    <node name="domain_expert" pkg="plansys2_domain_expert" type="domain_expert_node" output="screen">
      <param name="model_file" value="$(arg model_file)"/>
      <rosparam command="load" file="$(arg params_file)"/> 
    </node>
<!--  </group> -->

</launch>
